<a href="https://colab.research.google.com/github/ajxy125/ict_assignments/blob/main/Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Grocery Billing

In [ ]:
i1 = int(input('price of item 1 :'))
q1 = int(input('Quantity of item 1 :'))
i2 = int(input('price of item 2 :'))
q2 = int(input('Quantity of item 2 :'))
total_bill = i1*q1 + i2*q2
print('Total bill : ',total_bill)

price of item 1 :45
Quantity of item 1 :3
price of item 2 :30
Quantity of item 2 :2
Total bill :  195

2. Temperature Conversion

In [ ]:
c = float(input('Enter temperature in celsius:'))
f = (c* 9/5) + 32
print('Temperature in fahrenheit :',f)

Enter temperature in celsius:30
Temperature in fahrenheit : 86.0

3. Salary Slip

In [ ]:
s=int(input('Enter salary :'))
hra=0.2*s
da=0.1*s
netsalary=s+hra+da
print('net salary :',netsalary)

Enter salary :20000
net salary : 26000.0

4. Simple Interest

In [ ]:
p = float(input('Enter principal amount :'))
r = float(input('Enter rate of interest :'))
t = float(input('Enter time in years :'))
si = (p*r*t)/100
print('Simple interest :',si)

Enter principal amount :10000
Enter rate of interest :5
Enter time in years :2
Simple interest : 1000.0

5. Time Conversion

In [ ]:
t=int(input('Enter total minutes :'))
h = (t//60)
m = (t%60)
print(h,'hours and',m,'minutes')

Enter total minutes :130
2 hours and 10 minutes

6. BMI Calculator

In [ ]:
w = int(input('Enter weight :'))
h = float(input('Enter height :'))
bmi = w/(h*h)
print('BMI :',bmi)

Enter weight :60
Enter height :1.65
BMI : 22.03856749311295

7. Discount Calculation

In [ ]:
Orginial_price = int(input('Enter the original price:'))
Discount = 0.1*Orginial_price
d= Orginial_price - Discount
print('Discount :',d)

Enter the original price:1200
Discount : 1080.0

8. Area of a Triangle (Using Heronâ€™s Formula)

In [ ]:
a = float(input('Enter the side a:'))
b  = float(input('Enter the side b:'))
c = float(input('Entter the side c:'))
s = (a+b+c)/2
Area = (s*(s-a)*(s-b)*(s-c))**0.5
print('Area of triangle:',Area)

Enter the side a:5
Enter the side b:6
Entter the side c:7
Area of triangle: 14.696938456699069

9. Paint Cost Estimator

In [ ]:
l = int(input('Enter wall length:'))
h = int(input('Enter wall height:'))
w = 1.5*1.2
wa = l*h
pa = wa-w
cost = pa*25
print('Total area of be painted:',pa)
print('Total cost for painting:',cost)

Enter wall length:12
Enter wall height:8
Total area of be painted: 94.2
Total cost for painting: 2355.0

10. Electricity Bill Calculator

In [ ]:
u = int(input('Enter number of units:'))
r = u*5.2
print('rate according to unit consumed:',r)
print('fixed chager = 100rs')
total_amt = r+100
print('Total bill :',total_amt)

Enter number of units:250
rate according to unit consumed: 1300.0
fixed chager = 100rs
Total bill : 1400.0